@import "./libs/bootstrap-reboot.min";
@import "./libs/slick";

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
button {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.07);
    filter: brightness(1.1);
  }
}
.pageUp {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 8px;
  width: 55px;
  height: 55px;
}

@import "./block/header";
@import "./block/promo";
@import "./block/title";
@import "./block/advantages";
@import "./block/expert";
@import "./block/sector";
@import "./block/variant";
@import "./block/link";
@import "./block/footer";
@import "./block/media";
